<div id = 'sidebar-container'>
 <div id = 'image-header'><center><h3>Images</h3></center></div>
 <div id = 'image-wrapper'>
  {{#each images}}
    {{>image-build-container}}
  {{/each}}
 </div>
 <div id = 'image-wrapper'>
    <img src="img/plus.png" id="plus">
 </div>
</div>
