{{>header}}

<div id = 'main-container'>
	<div id = 'content-container'>
		{{>drawingApp}}
	</div>

	{{>sidebar}}

</div>
<!-- Include JS for the paint app. -->
<script src="js/paintapp.js"></script>
