body,html{
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 962px;
	min-height: 675px;
}

img {
	border: 2px solid #000;
}

#header-container {

	z-index: 100;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	position: fixed;
	overflow: hidden;
	background-color: white;
	box-shadow: 0px 4px 20px black;
}

#header-bar {
	margin-top: 0px;
	margin-left: 10px;
	padding: 0px;
	height: 30px;
	font-family: 'Bungee';
	font-size: 20px;
}


#drawing-app-container {
	background-color: lightgray;
	height: 520px;
	margin: 20px;
	margin-top: 50px;
}

input[type=color] {
	border-radius: 5px;
}

select {
    display: inline-block;
    height:30px;
    width: 150px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff;
}

.toolbar {
	font-family: Roboto;
	margin-top: 15px;
	margin-left: 10px ;
	color: white;
}

.toolbar span {
	margin-right: 10px;
}

a {
	color: white;
	float:right;
	margin: 3px;
	margin-right: 10px;
	padding: 4px;
	border-radius: 3px;
	text-decoration: none;
	background-color: orange;
}

form input {
	display: inline-block;
    height: 16px;
    width: 150px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 4px 0px 0px 4px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff;
}

button {
	display: inline-block;
    height:22px;
    width: 50px;
    padding: 2px 10px 2px 2px;
    outline: none;
    color: #74646e;
    border: 1px solid #C8BFC4;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff;
}
.toolbar div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.picturepanel {
	padding-top: 10px;
	height: 100%;
	width: 100%;
	text-align: center;
}
canvas {
	margin: 0px auto;
	background-color: white;

}

#app-content-container {
	width: 100%;
	height: 100%;

}

#app-controls-container {
	background: #4E598C;

	width: 100%;
	height: 20%;
}

#post-text-container {
	display: inline-block;
}

.image-container {
	opacity: 0.25;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	width: 150px;
	height: 150px;
	background: black;
}

#content-container {
	float: left;
	height: 100vh;
	width: calc(100% - 200px);
	background-color: gray;
}

#main-container {
	width: 100%;
	height: 100%;
}

#sidebar-container {
	text-align: center;
	float: right;
	height: 100%;
	width: 200px;
	overflow-y: scroll;
	background-color: #FFFFFF;
}

#image-header {
	margin: 2px;
	margin-top: 60px;
}

#image-wrapper {
	margin: 2px;
}

@media only screen and (max-width: 100vw) and (min-width: 1100px) {
	.image-container:first-of-type {
	margin-top: 40px;
	}
}
@media only screen and (max-width: 1170px) and (min-width: 0px) {
	#sidebar-container {
		overflow-x: scroll;
		overflow-y: hidden;
		text-align: center;
		background-color: #FFFFFF;
		white-space: nowrap;
		height: 200px;
		width: 100%;
	}

	#content-container {
		height: calc(100% - 200px);
		width: 100%;
	}

	.image-container:first-of-type {
		margin-left: 20px;
	}

	.image-container:first-of-type {
		margin-left: 30px;
	}

	.image-container {
		white-space: nowrap;
		position: relative;
		display: inline-block;
		margin-top: 33px;
		margin-right: 5px;
	}

	#image-wrapper {
		margin: -15px;
	}

}
